.square {
  height: 70px;
  width: 70px;
  // border: solid 1px grey;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  font-weight: bolder;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 1px;

  &:focus {
    outline: none;
  }
}
