body {
  margin: 0;
  padding: 5%;
  background: linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Grenze Gotisch", cursive;
  color: white;
}
